*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #d6e2f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  max-width: 300px;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 500px;
  transition: transform 0.3s ease;
}

.content h1 {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  color: #1f3251;
}

.content p {
  color: #68778d;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 15px;

}
.author {
    color: black;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.author a {
    color: darkgoldenrod;
}

.author a:hover {
        color: rgb(7, 89, 114);
}
.logo img {
  width: 100px;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* desktop style */

@media (min-width: 600px) {
  .card {
    max-width: 350px;
    padding: 30px;
  }
}

.logo img {
  width: 280px;
  height: 300px;
}