* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}
body {
  height: 100vh;
  background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
  background-position: top -100px left -100px, bottom -100px right -100px;
  background-repeat: no-repeat, no-repeat;
  background-size: 790px, 790px;
  background-color: #19a2ae;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
}
.card-image img {
  width: 100%;
  display: block;
}
.profile-picture {
  width: 100px;
  height: 100px;
  border: 5px solid white;
  border-radius: 50%;
  margin-top: -50px;
}
.basic {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
.age {
  font-size: 18px;
  color: #6a6f81;
  text-align: center;
  margin: 10px 0 5px;
  font-size: larger;
}
.basic h2 {
  font-size: 18px;
  margin: 10px 0 5px;
}
.card-content p {
  font-size: 14px;
  color: #6a6f81;
}
.follow {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #e9eaed;
  margin-top: 20px;
  padding: 20px 0;
}
.follow-info h3 {
  font-size: 18px;
  color: #2d3248;
}
.follow-info p {
  font-size: 12px;
  color: #6a6f81;
  margin-top: 5px;
}
